<template name="header">
  <div class="ecp__header-body">
    <a href="/" class="ecp__logo">
      <div class="ecp__logo-top">Eol Cup</div>
      <div class="ecp__logo-bottom">Pro tournament tool</div>
    </a>
    <ul class="ecp__menu">
      <li class="ecp__menu-item">
        <a href="/" class="ecp__menu-item-link">News</a>
      </li>
      <li class="ecp__menu-item">
        <a href="/tournaments" class="ecp__menu-item-link">Tournaments</a>
      </li>
      <li class="ecp__menu-item">
        <a href="/" class="ecp__menu-item-link">Battles</a>
      </li>
      {{> userPopup}}
    </ul>
  </div>
</template>
