<template name="welcome">
  <div class="ect__welcome">
    <div class="ect__welcome-container">
      <h1 class="ect__welcome-title">Polish Elastomania <span class="ect__welcome-title-colored">CHAMPIONSHIP</span></h1>
      <h2 class="ect__welcome-date" style="font-size: 140px;">STARTED</h2>
      <h2 class="ect__welcome-date">Please check <a href="/tournaments">tournaments list</a>!</h2>
      {{#unless currentUser}}
        <p class="text-center">To create your own tournament please <a href="/login">log in</a>.</p>
      {{/unless}}
    </div>
  </div>
</template>
