<template name="countdown">
  <div class="ect__countdown">
    <div class="ect__countdown-container">
      <h1 class="ect__coundown-title">EOL CUP <span class="ect__coundown-title-colored">. PRO</span></h1>
      <h2 class="ect__coundown-countdown">SRARTED!</h2>
      <h2 class="ect__coundown-date">Please check tournaments list!</h2>
    </div>
  </div>
  <!-- <div class="ect__countdown">
    <div class="ect__countdown-container">
      <h1 class="ect__coundown-title">EOL CUP <span class="ect__coundown-title-colored">. PRO</span></h1>
      <h2 class="ect__coundown-subtitle">release in:</h2>
      <h2 class="ect__coundown-countdown">{{countdown}}</h2>
      <h2 class="ect__coundown-date">{{releaseDate}}</h2>
    </div>
  </div> -->
</template>
