.ect__countdown {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &.size-1 {
    .ect__coundown-title {
      font-size: 1.5rem;
    }

    .ect__coundown-countdown {
      margin-top: 10px;
      font-size: 40px;
    }
  }
}

.ect__countdown-container {
  width: 100%;
  text-align: center;
}

.ect__coundown-title-colored {
  color: #31a3c3;
}

.ect__coundown-countdown {
  margin-top: 30px;
  font-size: 60px;
}

.ect__coundown-date {
  font-size: 20px;
}
