<template name="tournamentsInfo">
    <div class="jumbotron">
        <h1 class="display-4">{{title}}</h1>
        <hr class="my-4">
        <p class="lead">{{description}}</p>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-4">
                <p class="lead mb-0">Author: {{author}}</p>
            </div>
            <div class="col-md-4 text-center">
                <p class="lead mb-0">Status: {{status}}</p>
            </div>
            <div class="col-md-4 text-right">
                <p class="lead mb-0">Start date: {{formatDate startingDate}}</p>
            </div>
        </div>
        <hr class="my-4">
        {{#each battles}}
            {{#with getBattle this}}
                <button class="btn btn-primary {{#if battleFinished this}} btn-success {{/if}} {{#if battleInProgress this}} btn-warning {{/if}} {{#if isBattleActive _id}} active {{/if}} choose-battle" data-battle-id="{{_id}}">{{levelName}}</button>
            {{/with}}
        {{/each}}
    </div>
</template>
