<template name="tournamentsInfo">
    <div class="jumbotron tournaments-info">
        {{#if isOwnTournament}}
            <div class="tournaments-info-edit"><i class="far fa-lg fa-edit"></i></div>
        {{/if}}
        <h1 class="display-4">{{title}}</h1>
        <hr class="my-4">
        <p class="lead" style="white-space: pre-wrap;">{{description}}</p>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-2">
                <p class="small mb-0">Author: <strong>{{getAuthorById author}}</strong></p>
            </div>
            <div class="col-md-3 text-center">
                <p class="small mb-0">Status: <strong>{{status}}</strong></p>
            </div>
            <div class="col-md-3 text-center">
                <p class="small mb-0">You can skip: <strong>{{numberOfLevsToSkip}} levs</strong></p>
            </div>
            <div class="col-md-4 text-center">
                <p class="small mb-0">Start date: <strong>{{formatDate startingDate}}</strong></p>
            </div>
        </div>
        <hr class="my-4">
        <h4 style="margin-bottom: 15px;">
            <span>Players:</span>
            <div class="btn-group btn-group-toggle" style="margin-left: 10px;">
                <label class="btn btn-secondary {{#if isAllPlayersRanking}}active{{/if}}">
                    <input type="radio" class="choose-player-base" name="choose-player-base" value="true" checked={{isAllPlayersRanking}}>All
                </label>
                <label class="btn btn-secondary {{#unless isAllPlayersRanking}}active{{/unless}}">
                    <input type="radio" class="choose-player-base" name="choose-player-base" value="false" checked={{!isAllPlayersRanking}}>Selected
                </label>
            </div>
        </h4>
        <hr class="my-4">
        <h4 style="margin-bottom: 20px;">Tournament battles:</h4>
        {{#each battles}}
            {{#with getBattle this}}
                <button class="btn btn-primary {{#if battleFinished this}} btn-success {{/if}} {{#if battleInProgress this}} btn-warning {{/if}} {{#if isBattleActive _id}} active {{/if}} choose-battle" data-battle-id="{{_id}}">
                  {{#if battleNotInQueue this}}
                      {{levelname}}
                  {{else}}
                      &lt;battle-queued&gt;
                  {{/if}}
                </button>
            {{/with}}
        {{/each}}
    </div>
</template>
